*{

    font: size 200px;;
    scroll-behavior: smooth;
    background-color:rgb(82, 82, 211);
    
   }

    .image{

        width: 95%;
    
        height: 90vh;
    
        background:transparent;
    
        position: absolute;
    
        top: 8%;
    
        margin: 1rem auto;
    
        right: 0;
    
        left: 0;
    
        display: flex;
    
        align-items: center;
    
        justify-content: flex-start;
    
       }
    
    
    
    
       .img{
    
            width: 35%;
    
            height: 100%;
    
            background: transparent;
    
            display: flex;
    
            align-items: center;
    
            flex-direction: column;
    
            justify-content: space-evenly;
    
            color: white;
    
            padding: 1rem;
    
           
    
        .img{
    
            width: 80%;
    
            background-color: transparent;
    
            color: black;
    
            height: 30%;
    
            font-size: 4rem;
    
            padding: 1rem;
    
            text-align: center;
    
        }
    
           
    
       }
    
    
    
    
       .image{
    
        width: 65%;
    
        height: 100%;
    
        display: flex;
    
        align-items: center;
    
        justify-content: center;
    
        background:transparent;
    
       
    
    }
    
    
    
    
    .img{
    
        width: 103%;
    
        height: 103%;
    
    }
    
    
    
    
    .img{
    
        width: 80%;
    
        height: 10%;
    
        background: white;
    
        color: black;
    
        text-align: center;
    
        border-radius: 2rem;
    
        display: flex;
    
        align-items: center;
    
        font-size: 1.7rem;
    
    }

    .heading
    {


        font-size: 100px;
    }
   